<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h2>Locations</h2>
                <ul>
                    <li>
                        <a href="{% url 'image:images_list' %}">All</a>
                    </li>
                    {% for l in locations %}
                        <li>
                            <a href="{{ l.get_absolute_url }}">{{ l.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h2>
                    {% if location %}
                        {{ location.name }}
                    {% else %}
                        <h2>IMAGES</h2>
                    {% endif %}
                    {% for img in images %}
                        <a href="{{ img.get_absolute_url }}">
                            {{ img.image_title }}
                        </a>
                    {% endfor %}
                </h2>
            </div>
        </div>
    </div>
</div>