<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                Locations:
                <a href="{% url 'image:images_list' %}">All</a>
               
                {% for l in locations %}
                    
                        <a href="{{ l.get_absolute_url }}">{{ l.name}}</a>
                        
                {% endfor %}
                
            </div>
            <div>
                <form action="{% url 'image:search_category' %}" method="GET">
                    <input type="text" name="search">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div>
                <h2>
                    {% if location %}
                        {{ location.name }}
                    {% else %}
                        <h2>IMAGES</h2>
                    {% endif %}
                    {% for img in images %}
                        
                        <a href="{{ img.get_absolute_url }}">
                            <img src="{{ img.image.url }}" style="width: 300px; height: 250px;">
                            
                        </a>
                    {% endfor %}
                </h2>
            </div>z
        </div>
    </div>
</div>