{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h2>Categories</h2>
                <ul>
                    <li>
                        <a href="">All</a>
                    </li>
                    {% for cat in categories %}
                    <li>
                        <a href="{{ cat.get_absolute_url }}">{{cat.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h2>
                    {% if category %}
                        {{category.name}}
                    {% else %}
                        images
                    {% endif %}
                    {% for image in images %}
                    <a href="{{ image.get_absolute_url }}">{{image.title}}</a>
            
                    {% endfor %}
                </h2>
            </div>

           
        </div>
    </div>
</div>
{% endblock %} 
